/*!
 * Temlate Name: Launch
 * Version: 1.0
 * Author: Justin Audain
 * License: Creative Commons Attribution 3.0 License
 * Website: http://themes.audaindesigns.com
 */

/*-Base-*/

body {
	background-color:#ECEBEB;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
p {
	color:rgb(41, 41, 41);
	font-size: 16px;
}
a { 
	color:#fff;
}

/*-Header-*/
.header {
	background-color: #009586;
	border-bottom: 2px solid #008376;
	height: 85px;
}
.goal-summary {
	padding: 0px 40px;
}
.goal-summary .backers, .goal-summary .funded, .goal-summary .time-left, .goal-summary .reminder {
	display: inline-block;
	border-right: 1px solid rgba(255, 255, 255, 0.39);
}
.goal-summary .reminder.last {
	border:0;
	text-transform: uppercase;
	font-size: 17px;
	margin-left: 10px;
}
.goal-summary .backers h3, .goal-summary .funded h3, .goal-summary .time-left h3 {
	background-color:#fff;
	padding:5px;
	margin:0px 0px 5px 0px;
	display:table;
	border-radius:4px;
	color:#009586;
}
.goal-summary .backers span, .goal-summary .funded span, .goal-summary .time-left span {
	color:#fff;
}
.goal-summary .reminder a {
	display:table;
	text-decoration:none;
	padding-block: 30px;
	padding-right: .5rem;
	padding-left: .5rem;
}
.goal-summary .reminder a:hover, .goal-summary .reminder a:focus {
	color:orange;
}
@media (max-width: 767px) {
	.goal-summary {
		text-align: center;
		padding: 0px 40px;
	}
}
@media (max-width: 480px) {
	.goal-summary {
		padding: 0px;
	}
}

/*-Section Blocks-*/
.section-block {
	background-color: #F7F7F7;
	border-radius:4px;
	padding: 30px;
	margin-bottom:30px;
	width: 100%;
}
.section-block.summary {
	background-color: #fff;
	border: 1px solid orange;
}
.section-block.summary h1 {
	display:block;
	text-align:center;
}
.section-block.transparent {
	background-color:transparent
}
.section-block.signup {
	background-color: #009586;
}
.section-block h1 {
	margin-top:0;
}
.section-title {
	color: orange;
	border-radius: 4px;
	display: table;
	padding: 10px 0px;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}

/*-Main Content-*/
.main-content {
	padding:40px 0px;
}

/*-Profile Summary-*/
.profile-contents {
	margin: 0 auto;
    text-align: center;
}
.profile-contents h2 {
	color:#FFF;
	font-size: 16px;
	line-height: 1.5;
	font-weight:300;
	margin-top: 5px;
	margin-bottom: 10px;
}
.profile-image {
	border-radius:2%;
	max-height: 180px;
	margin-bottom:10px;
}
.profile-contents ul li {
	padding:0;
	margin:5px;
}
.profile-contents ul li a {
	background-color: #009586;
	color: #FFF;
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.profile-contents ul li a i.fa {
	font-size: 20px;
	margin-top: 10px;
}
.profile-contents ul li a:hover {
	background-color:#779A81;
}

/*-Funding Meta-*/
.funding-meta {}
.funding-meta h1 {
	background: #009586;
	color: #fff;
	border-radius: 4px;
	display: table;
	padding: 10px;
	font-size: 25px;
	font-weight:700;
}
.type-meta {
	color:#A7A7A7;
	font-size: 12px;
	display: inline-block;
	margin: 0px 10px 10px 0px;
}
.type-meta i.fa {
	color:#009586;
	margin-right:5px;
}
.funding-meta h2{
	font-weight:700;
}
.funding-meta p {
	color: #000;
	margin: 30px 0px 10px 0px;
}
.video-frame {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	display:block;
}
.video-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.funding-meta h2, .funding-meta span.contribution {
	display:inline-block;
	color: #009586;
}
.funding-meta span.contribution, .funding-meta span.goal-progress {
	color: #A7A7A7;
}
.funding-meta span.goal-progress {
	text-align:right;
	display: block;
}
.count-down {
	display: block;
	color: #A7A7A7;
	text-align: right;
	text-transform: uppercase;
}
.count-down strong {
	padding-right:5px;
}
.progress-bar {
	background-color: #009586;
	box-shadow:none;
}
.progress {
	height: 30px;
	background-color: #ECEBEB;
	box-shadow:none;
	margin: 10px 0px 10px 0px;
}

/*-Rewards-*/
.reward-block {
	position:relative;
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;
	margin-bottom:10px;
}
.reward-block:hover {
	background-color: #DCF7E3;
}
.reward-block.last {
	margin-bottom:0;
}
.reward-block h3 {
	background: #009586;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	margin: 0px 0px 10px 0px;
	padding: 10px;
	display: table;
	border-radius: 4px;
}
.reward-block h2 {
	font-size: 20px;
	font-weight: 300;
	color: #009586;
	margin: 15px 0px;
}
.reward-block i.fa {
	color:#009586;
}
.reward-block span {
	margin-bottom: 10px;
	display: block;
	color: #A7A7A7;
}
.reward-block.popular:after {
	position: absolute;
	top: 10px;
	right: 10px;
	content: "popular";
	background-color: #2ED9EA;
	color: #fff;
	padding: 5px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 700;
}

/*-Sign up form-*/
.sign-up-form {
	text-align: center;
}
.sign-up-form p {
	font-weight:700;
	color:#fff;
}
.signup-input {
	width: 100%;
	border: 0;
	padding: 10px;
	border-radius: 4px;
	max-width: 400px;
}
@media (max-width: 767px) {
	.signup-input {
		width: 75%;
		max-width: 100%%;
	}
}
@media (max-width: 480px) {
	.signup-input {
		width: 100%;
		max-width: 100%%;
	}
	.sign-up-form .btn.btn-signup {
		margin:10px 0px;
		width:100%;
		display:block;
	}
}

/*-Tabs-*/
.nav-tabs {
	border:0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #FFF;
	background-color: #009586;
	border: 0;
	border-radius: 4px;
	font-weight:700;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover {
	border:0;
	margin-right: 10px;
	color:#A7A7A7;
}
.tab-content .section-title {
	margin-bottom: 20px;
	border-bottom: 1px solid #E2E2E2;
	display: block;
}

/*-Updates-*/
.update-post {
	margin-bottom: 30px;
	padding: 10px;
	background-color: #FDFDFD;
	border-radius: 4px;
}
.update-post .update-title {
	margin: 10px 0px;
	font-weight: 700;
}
.update-post .update-date {
	margin: 0px 0px 15px 0px;
	display: block;
	color: #A7A7A7;
	font-size: 12px;
}



/*-Buttons-*/
.btn {
	border:0;
}
.btn.btn-launch {
	background-color: orange;
	color: #FFF;
	font-size: 17px;
	font-weight: 500;
	padding: 6px 20px;
}

.btn.btn-launch:hover, .btn.btn-launch:focus,.btn.btn-reward, .btn.btn-reward:hover, .btn.btn-reward :focus {
	background-color:#009586;
	box-shadow:none;
}

.black{color: #000;}

.btn.btn-reward {
	background-color: orange;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
}
.btn.btn-signup {
	background-color: #009586;
	color: #fff;
	height: 40px;
	width: 43px;
	margin-left: 10px;
	border: 2px solid #fff;
	text-align: center;
}
.btn.btn-contact {
	background-color: #009586;
	color: #fff;
	font-weight:600;
}
.btn.btn-contact:hover, .btn.btn-contact:focus {
	background-color: ORANGE;
}
.btn.btn-contact i.fa {
	margin-right:10px;
}
.btn.btn-follow {
	background-color: #81A8F1;
	color: #fff;
	margin-bottom:10px;
}
.btn.btn-download {
	background-color: #009586;
	color: #fff;
}

/*-Credits-*/
.credit-block {
	padding: 20px;
	background-color: #FFF;
	border-radius: 4px;
	margin-bottom: 10px;
}
.credit-block.sources a{
	margin: 10px 0px;
	display: block;
}
.credit-block.license a.lined{
	text-decoration:underline;
}
.credit-block i.fa {
	padding-right:10px;
}

/*-Footer-*/
.footer {
	background-color: #009586;
	padding: 20px;
	text-align:center;
}
.copyright {
	color:#F7F7F7;
	font-size: 1.6rem;
	font-weight: 400;
}
.copyright a {
	background: #fff;
	color: #009586;
	padding: 0px 5px;
	margin-left: 4px;
	border-radius: 4px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

.copyright a:hover {
	background: orange !important;
	color: #fff !important;
	text-decoration: none;
	
}

/*-Overrides-*/
.btn, input{
	outline:none;
}

.tit-page{
	text-transform: uppercase;
	color: #009586;
	font-weight: 400;
}

.float{
	float: left;
}

span{
	font-weight: 600;
}

.txt-contenu{
	color: orange;
	font-size: inherit;
}

.txt-contenu:hover{
	color: orange;
}

.justify{
	text-align: justify;
}

.margin-top-bottom{
	margin-top: 15px;
	margin-bottom: 15px;
}

.image-creation{
	width: 100%;
}

.btm-20{
	margin-bottom: 20px;
}

.red{
	color: red;
}

.mto{
	color: orange;
}

.mto:hover{
	color: #000;
}

.tto{
	color: inherit;
}

.tto:hover{
	color: orange;
}

.diag{
	margin-right: 10px;
}

.color-dep{
	color: #CED4DA;
}

.color-rev{
	color: #006FE6
}

.btn-marge{
	margin-left: 10px;
}

.uppercase{
	text-transform: uppercase;
}

.top{
	margin-top: 20px;
}